.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}



.App-header {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bienvenida {
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #ffffff;
}

.navbar-black {
  background-color: #000 !important;
}

.navbar-tall {
  height: 110px; /* puedes ajustar este valor */
  display: flex;
  align-items: center;
}

.navbar-collapse-fix {
  margin-top: 110px; /* misma altura que la barra */
  background-color: #000; /* mismo color de fondo que navbar */
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
