.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}



.App-header {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bienvenida {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #ffffff;
}

.navbar-black {
  background-color: #000 !important;
}

.navbar-tall {
  height: 110px; 
  display: flex;
  align-items: center;
}

.navbar-collapse-fix {
  margin-top: 110px; 
  background-color: #000; 
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.menu-page {
  background-color: rgb(248, 176, 135);
  min-height: 100vh;
  padding: 2rem;
}

.inicio-page {
  background-color: #111; 
  min-height: 10vh;
  margin: 0;
  padding: 0;
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-background {
  background-color: #f5f5f5; 
}

.carousel-image {
  height: 700px;
  object-fit: cover;
}

